*{
    background-color: #1d2a36;
}

.navigation-bar{
    color: white;
    width: 100%; 
    align-items: center;
}

.Nav-Intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: Verdana, sans-serif;
    position:relative;
}

.Nav-Intro ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.Nav-Intro ul li a{
    color: darkgrey;
}

.Nav-Intro a{
    text-decoration: none;
    color: white;
}

.Nav-Intro h3{
    font-weight: 700;
}

.Nav-Intro span{
    color:darkgrey;
}

.arc-img a img{
    width:100%;
    align-items: center;
    height: 80vh;
}

.mid-part{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform:translate(-50%,-50%);
    background: none;
}

.mid-part h3{
    background-color: rgb(39, 37, 37);
    font-size: 42px;
    font-weight: 600;
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 10px 20px;
    opacity: 0.80;
}

.mid-part p {
    font-size: 40px;
    color: white;
    letter-spacing: 4px;
    background: none;
}

  /* project page */

.project-phase{
    height: 90vh;
}

.proj-nav{
    color: white;
    border-bottom: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.proj-nav i{
    font-size: 40px;
    padding-right: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.imgs-part-A{
    display: flex;
    width: 100%;
    padding: 40px 0;
    justify-content: space-between;
}

.imgcards {
    width: 22vw;
    position: relative;
}


.imgcards img{
    width: 100%;
}

.imgs-part-B{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.summer-block{
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    padding: 10px 14px;
}


/* about page */

.abouthead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 1px solid white;
}

.abouthead i{
    font-size: 40px;
    padding-right: 20px;
    padding-top: 10px;  
    cursor: pointer;
}


.abouthead h3{
    color: white;
    font-size: 32px;
    font-weight: 400px;
    font-family: "Segoe UI", Arial, sans-serif;
}

.aboutintro p{
    color: white;
    font-size: 16px;
    font-family: Verdana,sans-serif;
    margin: 30px 0;
}

.team-members{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.members{
    width: 22vw;
}

.members img{
    width: 100%;
}

.team-members h3{
    color: white;
    font-size: 24px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
}

.team-members h4{
   color: grey; 
   font-family: "Segoe UI", Arial, sans-serif;
   font-size: 18px;
   font-weight: 400;
}

.teamcontact{
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 10px 0;
}

/* Contact Page */

.contcontainer {
    width: 95vw;
    margin: 0 auto;
}

.conchead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 1px solid white;
}

.conchead i{
    font-size: 40px;
    padding-right: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.conchead h3{
    color: white;
    font-size: 32px;
    font-weight: 400px;
    font-family: "Segoe UI", Arial, sans-serif;
}

.contact-page p{
    color: white;
    font-size: 18px;
    font-family: Verdana,sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

form #name{
    /* width: 45%; */
    background-color: white;
    color:  solid black;
    padding: 15px;
    font-size: 18px;
    border: none;
}

form #email{
    background-color: white;
    color:  solid black;
    padding: 15px;
    font-size: 18px;
    border: none;
}

form #subject{
    background-color: white;
    color:  solid black;
    padding: 15px;
    font-size: 18px;
    border: none;
}

form #comment{
    background-color: white;
    color:  solid black;
    padding: 15px;
    font-size: 18px;
    border: none;
}

form #submit {
    width: 18%;
    background-color: #000000;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    border: none;
}

.cmap{
    width: 100%;
    margin-bottom: 20px;
}

.cmap img{
    width: 100%;
}

.cpower{
    color:white;
    background-color: #000000;
    padding: 40px;
    text-align: center;
    font-size: 24px;
}

.cpower span {
    background-color: #000;
}

